.CardGrid {
    width: 100%;
}

.CardGrid th {
    text-align: left;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

.CardGrid td {
    padding: 0 3px;
}

.CardGrid td:nth-child(1) {
    padding: 0;
}

.CardGrid {
    border-spacing: 0;
    border-collapse: collapse;
}

.CardGrid tr:nth-child(even) {
    background-color: lightgray;
}