.CardGrid {
    width: 100%;
}

.CardGrid th {
    text-align: left;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}