.DeckStats {
    padding: 10px;
}

.DeckStats-container {
    border-top: 1px solid black;
    margin-top: 5px;
    padding-top: 5px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "metap winp"
        "sampled sampled"
        "cardgrid cardgrid";
}